<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #eeeee4">
  <%= link_to 'Home', root_path, class: 'navbar-brand', style: "margin-left:350px"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Account Settings', edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to  'Blogs', blogtexts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link', style: "border: none; background: transparent" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <div>
        <%= image_tag(current_user.header_picture, style: "border-radius: 50%") %>
      </div>
    <% end %>
  </div>
</nav>